.mjn-logo {
  width: 175px;
  height: 175px;
  background: white;
  border-radius: 50%;
}

.mjn-logo > .mjn-logo-inner {
  border: none;
  max-width: 140px;
  box-shadow: initial;
  border-radius: 30px;
}
}

.pkw-face {
  border: none;
  box-shadow: none;
  position: absolute;
  width: 15%;
  right: 0;
}

.press-screen {
  width: 60%;
}