.mjn-logo {
  position: absolute;
  width: 8%;
  border: none;
  left: 0px
}

.pkw-face {
  border: none;
  box-shadow: none;
  position: absolute;
  width: 15%;
  right: 0;
}

.press-screen {
  width: 60%;
}